/*     font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #141c29;
    padding-top: 125px;
    display: flex;
    justify-content: center;
}
header{
    gap: 5%;
    height: 100px;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}
main{
    width: 80%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
nav i {
    position: relative;
}
#cuenta-carrito{
    background-color: aliceblue;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20PX;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
    color: #141c29;
    font-size: 12.5px;
}
.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}
.scroll i{
    color: #141c29;
}
.scroll h1{
    color: #141c29;
}
.scroll span{
    color: #141c29;
}
.scroll #cuenta-carrito{
    background-color: #141c29;
    color: white;
}
.carrito{
    width: 45px;
    height: auto;
}
.productos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.imagen{
    width: 320px;
    height: 340px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
.card{
    width: 320px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #2D4263;
    border-radius: 20px;
}
.card:hover{
    background-color: #11294d;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.informacion{
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.informacio h2{
    font-size: 5px;
}
.informacion p{
    font-size: 12px;
    font-weight: 300;
}
.informacion button{
    background-color: #263143;
    width: 150px;
    height: 35;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    padding: 10px;
}
.informacion button:hover{
    background-color: #2d4263;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}